/* ==UserStyle==
@name         freeCodeCamp Forum Dark Theme
@description  A dark theme for freeCodeCamp Forums.
@namespace    forum.freecodecamp.org
@author       maxigaz
@version      1.0.4
==/UserStyle== */

@-moz-document domain("forum.freecodecamp.org") {
	/* ===== General ===== */

	html, body, #reply-control, .modal-body, .modal-footer {
		background: rgb(55,55,55) !important;
		color: rgb(250, 250, 250) !important;
	}

	blockquote {
		border-left-color: #999595;
	}

	/* Banner (welcome message starting with "Our forum is like Stack Overflow for campers") */

	#banner {
		background: #00283B;
		color: rgb(250, 250, 250);
	}

	/* ===== Thread browsing (with replies) ===== */

	#topic-title h1 a {
		color: rgb(250, 250, 250) !important;
	}

	.category-name {
		color: rgb(228, 117, 9) !important;
	}

	.topic-meta-data span.username a {
		color: rgb(250, 250, 250);
	}

	.topic-body, #list-area, .topic-list {
		background-color: rgb(41, 41, 41) !important;
	} 

	.topic-body, #list-area, .topic-list, .topic-avatar, #topic-closing-info {
		border-top: 1px solid rgb(84, 84, 84);
	}

	.topic-body .cooked {
		color: rgb(240, 240, 240);
	}

	aside.quote .title, body code {
		color: rgb(242, 242, 242);
	}

	aside.quote .title, blockquote, body code {
		background-color: rgb(70, 70, 71) !important;
	}

	.hljs-deletion {
		background: #3E0000;
	}

	.hljs-keyword, .javascript .hljs-title, .nginx .hljs-title, .hljs-subst, .hljs-request, .hljs-status {
		color: #bebebe;
	}

	/* Post reply area */

	#reply-control .grippie {
		background-color: rgb(80, 80, 80) !important;
	}

	.reply-to a, a:link, a:hover, a:active, a:visited, .topic-list.categories a.title, a.reply-new:hover, a.reply-new:active, a.reply-new:visited {
		color: rgb(50, 192, 92);
	}

	.topic-list a.title.visited:not(.badge-notification) {
		color: rgb(180, 180, 180);
	}

	.d-editor {
		border-color: rgb(20, 20, 20) !important;
	}

	.d-editor-preview {
		border: 1px dashed rgb(20, 20, 20) !important;
	}

	#reply-control .wmd-controls .d-editor-input, #reply-control .wmd-controls .d-editor-preview {
		background-color: rgb(40, 40, 41) !important;
	}

	#reply-control .d-editor-button-bar {
		background-color: rgb(40, 40, 41) !important;
		border-bottom: 2px solid rgb(55, 55, 55);
	}

	#reply-control .d-editor-button-bar button {
		color: rgb(240, 240, 240);
	}

	textarea.ember-view.ember-text-area.d-editor-input, #reply-control .wmd-controls .d-editor-preview {
		color: rgb(240, 240, 240) !important;
	}

	.composer-popup {
		background-color: #323221;
	}

	.composer-popup a.close {
		color: #999;
	}

	.composer-popup a.close:hover {
		color: #959595;
	}

	.select-box-kit.combo-box .select-box-kit-header, .select-box-kit.combo-box .select-kit-header, .select-kit.combo-box .select-box-kit-header, .select-kit.combo-box .select-kit-header {
		background-color: rgb(65, 65, 65);
		border-color: rgb(31, 31, 31);
	}

	.select-box-kit.combo-box .select-box-kit-filter, .select-box-kit.combo-box .select-kit-filter, .select-kit.combo-box .select-box-kit-filter, .select-kit.combo-box .select-kit-filter {
		background-color: rgb(65, 65, 65);
		border-color: rgb(53, 53, 53);
	}

	.select-box-kit .select-box-kit-row.is-selected, .select-box-kit .select-kit-row.is-selected, .select-kit .select-box-kit-row.is-selected, .select-kit .select-kit-row.is-selected {
		background-color: #323221;
	}

	.select-box-kit .select-box-kit-filter .filter-input, .select-box-kit .select-box-kit-filter .filter-input:focus, .select-box-kit .select-box-kit-filter .filter-input:active, .select-box-kit .select-kit-filter .filter-input, .select-box-kit .select-kit-filter .filter-input:focus, .select-box-kit .select-kit-filter .filter-input:active, .select-kit .select-box-kit-filter .filter-input, .select-kit .select-box-kit-filter .filter-input:focus, .select-kit .select-box-kit-filter .filter-input:active, .select-kit .select-kit-filter .filter-input, .select-kit .select-kit-filter .filter-input:focus, .select-kit .select-kit-filter .filter-input:active {
		border: none !important;
	}

	.d-editor-textarea-wrapper {
		border-color: rgb(31, 31, 31);
	}

	/* Autocompletion (e.g. for emoji) */

	.autocomplete {
		background-color: rgb(40, 40, 40);
		border: 1px solid rgb(80, 80, 80);
	}

	.autocomplete ul li {
		border-bottom: 1px solid rgb(55, 55, 55);
	}

	.autocomplete ul li a.selected[href] {
		background-color: rgb(57, 100, 77);
	}

	.discourse-no-touch .autocomplete ul li a[href]:hover {
		background-color: rgb(70, 70, 70);
		text-decoration: none;
	}

	/* Emoji selector */

	.emoji-modal {
		background-color: rgb(52, 52, 52) !important;
	}

	table.emoji-page td  {
		background-color: rgb(40, 40, 40) !important;
	}

	/* Name of mentioned users in posts */

	a.mention, a.mention-group {
		background-color: rgb(30, 30, 30);
	}

	/* Code snippets */

	.hljs, .hljs-keyword {
		color: rgb(230, 230, 230);
	}

	/* Tag labels */

	.discourse-tag.box {
		background-color: rgb(48, 48, 48);
		color: rgb(231, 231, 231) !important;
		border: 1px solid rgb(80, 80, 80);
	}

	/* Buttons */

	.btn {
		background-color: rgb(45, 45, 45);
		color: rgb(240, 240, 240);
	}

	.btn:hover {
		background-color: rgb(75, 75, 75);
		color: rgb(240, 240, 240);
	}

	/* Post control buttons (like, reply etc.) */

	.actions .widget-button:hover {
		background-color: rgb(61, 61, 61);
		color: rgb(240, 240, 240);
	}

	.post-controls .like.d-hover {
		background: rgb(82, 0, 61) !important;
	}

	.post-links-container .post-links {
		border-color: rgb(55, 55, 55);
	}

	nav.post-controls .show-replies:hover {
		background-color: rgb(61, 61, 61);
		color: rgb(240, 240, 240);
	}

	/* Embedded replies */

	.embedded-posts {
		border-color: rgb(80, 80, 80);
	}

	.embedded-posts.bottom .row .topic-avatar, .embedded-posts.bottom .row .topic-body {
		border-color: rgb(80, 80, 80);
	}

	.embedded-posts .collapse-down, .embedded-posts .collapse-up {
		background-color: #292929;
		border-color: rgb(80, 80, 80);
		color: rgb(240, 240, 240);
	}

	.embedded-posts .collapse-down:hover, .embedded-posts .collapse-up:hover {
		background-color: rgb(61, 61, 61);
		color: rgb(240, 240, 240);
	}

	/* "Stats ribbon" (under the very first post of each thread) */

	.topic-map {
		border-color: rgb(55, 55, 55);
	}

	.topic-map ul, .avatars, .links, .map {
		background-color: rgb(70, 70, 70);
	}

	.topic-map .buttons .btn {
		background-color: rgb(70, 70, 70);
		border-color: rgb(70, 70, 70);
	}

	.topic-map .buttons .btn:hover {
		color: rgb(184, 184, 184);
		background-color: rgb(61, 61, 61);
	}

	.topic-map section {
		border-top: 1px solid rgb(55, 55, 55);
	}

	.topic-map .map .number, .topic-map .map i {
		color: rgb(240, 240, 240);
	}

	.topic-map h3 {
		color: rgb(240, 240, 240);
	}

	.badge-notification.clicks {
		background-color: rgb(35, 35, 35);
		color: rgb(230, 230, 230);
	}

	/* Wiki editing */

	.select2-drop, .select2-container a.select2-choice, .select2-container-multi .select2-choices {
		background-color: rgb(76, 76, 76);
	}

	/* GitHub issue */

	aside.onebox {
		border: 5px solid rgb(70, 70, 70);
	}

	aside.onebox header a[href],
	aside.onebox .onebox-body a[href] {
		color: rgb(50, 192, 92);
	}

	aside.onebox .labels span {
		background-color: rgb(35, 35, 35) !important;
	}

	/* Poll */

	div.poll {
		border-color: rgb(140, 140, 140);
	}

	div.poll .poll-info {
		border-left-color: rgb(140, 140, 140);
	}

	div.poll .poll-buttons {
		border-top-color: rgb(140, 140, 140);
	}

	div.poll li[data-poll-option-id] {
		color: rgb(230, 230, 230);
	}

	div.poll .results .bar-back {
		background-color:	rgb(180, 180, 180);
	}

	/* Topic progress (appears when the window width is smaller) */

	#topic-progress {
		background-color: rgb(35, 35, 35);
		border: 1px solid rgb(35, 35, 35) !important;
		color: rgb(230, 230, 230);
	}

	#topic-progress .bg {
		border-right-color: rgb(3, 95, 29);
		background-color: rgb(3, 95, 29);
	}

	#topic-progress-expanded {
		border-color: rgb(35, 35, 35);
		background-color: rgb(35, 35, 35);
	}

	.moderator .clearfix > .topic-meta-data > .names span.user-title, .moderator .nav-pills > .topic-meta-data > .names span.user-title, .moderator .container > .topic-meta-data > .names span.user-title, .moderator .wrap > .topic-meta-data > .names span.user-title {
		background-color: #323221;
		color: rgb(240, 240, 240);
	}

	/* Challenge hints and solutions */
	.moderator .regular > .cooked {
		background-color: #323221;
	}

	/* Vertical lines between "small actions" (e.g. "2 month later", "closed aug 10, '16'") */

	.small-action {
		border-top-color: rgb(84, 84, 84);
	}

	/* Vertical line at the bottom of the last post */

	.topic-status-info {
		border-top-color: rgb(84, 84, 84);
	}

	/* ===== Main page, navigation between threads ===== */

	/* Categories */

	.category-name {
		color: rgb(250, 250, 250);
	}

	.select-kit.combo-box.category-drop .category-drop-header {
		background-color: rgb(45, 45, 45);
	}

	.select-box-kit .select-box-kit-collection, .select-box-kit .select-kit-collection, .select-kit .select-box-kit-collection, .select-kit .select-kit-collection {
		background-color: rgb(40, 40, 40);
	}

	.select-box-kit .select-box-kit-row.is-highlighted, .select-box-kit .select-kit-row.is-highlighted, .select-kit .select-box-kit-row.is-highlighted, .select-kit .select-kit-row.is-highlighted {
		background: #00283B;
	}

	.select-kit.combo-box.category-drop .select-kit-collection .collection-header .category-filter {
		color: rgb(250, 250, 250);
	}

	.category-description, th.category, th.latest, th.stats.topics, .topic-list td.value, .topic-list.categories td.stats .unit {
		color: rgb(240, 240, 240) !important;
	}

	/* Number of new posts */

	.badge-notification.new-posts, .badge-notification.unread-posts {
		background-color: rgb(50, 192, 92);
		color: rgb(0, 0, 0);
	}

	/* Last visit bar */

	.topic-list .topic-list-item-separator td span {
		background-color: rgb(41, 41, 41);
		color: rgb(150, 94, 94);
	}

	.topic-list .topic-list-item-separator td {
		border-bottom-color: rgb(150, 94, 94);
	}

	/* Notification bar with number of new or updated topics */

	.alert.alert-info {
		background: #00283B;
	}

	.alert.alert-info.clickable {
		color: rgb(0, 169, 253);
	}

	/* Categories drop-down menu in mobile view */

	.list-controls .nav-pills .drop {
		background-color: rgb(45, 45, 45);
		border: 1px solid rgb(80, 80, 80);
	}

	.topic-list th, .topic-list td {
		color: rgb(240, 240, 240) !important;
	}

	/* Links with thread titles in mobile view */

	.topic-list a.title  {
		color: rgb(50, 192, 92) !important;
	}

	/* Stat numbers in mobile view */

	.category-list-item > footer figure {
		color: rgb(136, 136, 136) !important;
	}

	/* Thread excerpts in mobile view */

	.topic-list .topic-excerpt {
		color: rgb(210, 210, 210);
	}

	/* Table row borders in mobile view */

	tr.category-topic-link {
		border-top: 1px solid rgb(60, 60, 60);
		border-bottom: 1px solid rgb(60, 60, 60);
	}

	/* ===== List of threads inside categories ===== */

	.topic-list .main-link a.title {
		color: rgb(250, 250, 250);
	}

	/* Buttons above table */

	.list-controls .category-breadcrumb li.bullet > .badge-category {
		background-color: rgb(45, 45, 45) !important;
		color: rgb(240, 240, 240) !important;
	}

	.nav-pills > li > a {
		color: rgb(240, 240, 240) !important;
		background-color: rgb(3, 95, 29); /* For mobile view */
	}

	.nav-pills > li > a:hover {
		color: rgb(240, 240, 240);
		background-color: rgb(4, 129, 39);
	}

	.nav-pills > li.active > a, .nav-pills > li > a.active {
		color: rgb(240, 240, 240);
		background-color: rgb(3, 95, 29);
	}

	/* Disabled button (e.g. when you're not allowed to create new topics in a category) */

	.btn[disabled], .btn.disabled {
		background-color: rgb(114, 114, 114);
	}

	.btn[disabled]:hover, .btn.disabled:hover {
		background-color: rgb(84, 84, 84);
	}

	/* Category and tutorial list drop down */

	.list-controls .category-dropdown-menu {
		background-color: #2B2C2B !important;
		border: 1px solid rgb(80, 80, 80);
	}

	.list-controls .category-dropdown-menu .home {
		color: rgb(250, 250, 250);
	}

	/* First table row */

	.topic-list th {
		color: rgb(240, 240, 240);
	}

	.topic-list .sortable:hover {
		background-color: rgb(55, 55, 55);
	}

	/* Borders */

	.topic-list > tbody > tr:first-of-type {
		border-top: 3px solid rgb(84, 84, 84);
	}

	.topic-list > tbody > tr {
		border-bottom: 1px solid rgb(84, 84, 84);
	}

	/* Number of views and activity */

	td {
		color: rgb(136, 136, 136) !important;
	}

	/* Number of replies */

	.topic-list .num a.badge-posts {
		color: rgb(176, 176, 176) !important;
	}

	/* User profile pop-up */

	#user-card {
		color: rgb(230, 230, 230);
	}

	#user-card h1 a, #user-card h1 i {
		color: rgb(240, 240, 240);
	}

	#user-card .card-content {
		background: none repeat scroll 0% 0% rgba(54, 54, 54, 0.85);
	}

	#user-card .metadata h3 .desc, #user-card .metadata h3 a {
		color: rgb(144, 144, 144);
	}

	#user-card .usercard-controls a,
	#user-card .location-and-website .website-name a {
		color: rgb(230, 230, 230);
	}

	#user-card .usercard-controls a.btn.btn-primary {
		background-color: rgb(3, 95, 29);
	}

	#user-card .usercard-controls a.btn.btn-primary:hover {
		background-color: rgb(4, 129, 39);
	}

	/* ===== Modal	 ===== */

	.bootbox.modal {
		border: 1px solid rgb(80, 80, 80);
	}

	.modal-footer {
		border-top: 1px solid rgb(80, 80, 80);
	}

	/* ===== Navigation bar ===== */

	.menu-panel.drop-down, .menu-panel { /* Both desktop and mobile view */ 
		background-color: #2B2C2B !important;
		border: 1px solid rgb(80, 80, 80);
	}

	.menu-panel.drop-down a:hover {
		background-color: #075b1f;
		/* color: rgb(50, 192, 92); */
	}

	a.widget-link.user-activity-link, a.widget-link.logout {
		color: rgb(250, 250, 250);
	}

	.menu-panel.drop-down i.fa, div.menu-links-header .fa, div.menu-links-header a, .user-menu .notifications .fa {
		color: rgb(255, 255, 255) !important;
	}

	.user-menu .notifications li span {
		color: rgb(250, 250, 250);
	}

	.menu-panel ul.menu-links li a:hover, .menu-panel ul li.heading a:hover {
		background-color: #075b1f;
	}

	.menu-panel ul.menu-links li a, .menu-panel ul li.heading a {
		transition: background 0.15s ease 0s;
		color: rgb(250, 250, 250);
	}

	.user-menu .notifications li {
		background-color: #39644d !important;
	}

	.user-menu .notifications li:hover, .user-menu .notifications li.read:hover {
		/* background-color: #0f6b29 !important; */
		background-color: #075b1f !important;
	}

	.user-menu .notifications li.read {
		/* background-color: rgb(100, 100, 101) !important; */
		background-color: #2B2C2B !important;
	}

	hr {
		border-color: rgb(140, 140, 140);
	}

	.menu-panel li.category-link .badge-notification {
		color: rgb(230, 230, 230);
	}

	.user-menu .notifications .show-all .btn {
		background-color: rgb(43, 44, 43);
	}

	.user-menu .notifications .show-all .btn:hover {
		background-color: rgb(75, 75, 75);
	}

	/* Search */

	input[type="text"], body input[type="password"], body input[type="datetime"], body input[type="datetime-local"], body input[type="date"], body input[type="month"], body input[type="time"], body input[type="week"], body input[type="number"], body input[type="email"], body input[type="url"], body input[type="search"], body input[type="tel"], body input[type="color"] {
		background-color: rgb(65, 65, 65);
		color: rgb(240, 240, 240) !important;
		border: 1px solid rgb(31, 31, 31) !important;
	}

	.search-menu li:not(.category):not(.heading):hover a:not(.badge-notification) {
		background-color: #323221;
		text-decoration: none;
	}

	/* Account/avatar drop-down menu in mobile mode */

	div.menu-links-header a:hover {
		background-color: rgb(7, 91, 31);
	}

	/* ===== Account preferences ===== */

	.user-main .user-content {
		background: rgb(55,55,55) !important;
	}

	.user-main .user-stream .item {
		background-color: rgb(41, 41, 41) !important;
		border-bottom: 1px solid rgb(84, 84, 84);
	}

	.user-main .user-stream .excerpt {
		color: rgb(240, 240, 240);
	}

	.stats-section li {
		background-color: rgb(67, 67, 67) !important;
	}

	.top-sub-section li {
		background-color: rgb(45, 45, 45);
		box-shadow: 0px 1px 1px rgb(35, 35, 35);
		border-left: 2px solid rgb(35, 35, 35);
	}

	.top-sub-section .topic-info {
		color: rgb(240, 240, 240);
	}

	.user-info .user-detail .username a {
		color: rgb(240, 240, 240);
	}

	.user-info .user-detail .name {
		color: rgb(225, 225, 225);
	}

	.user-preferences .static {
		color: rgb(240, 240, 240);
	}

	/* Emails */

	.select-box-kit .select-box-kit-row.is-selected.is-highlighted, .select-box-kit .select-kit-row.is-selected.is-highlighted, .select-kit .select-box-kit-row.is-selected.is-highlighted, .select-kit .select-kit-row.is-selected.is-highlighted {
		background-color: #00283b;
	}

	/* Notifications: user name */

	.user-main .user-stream .notification p span {
		color: rgb(240, 240, 240);
	}

	/* Nav buttons on top */

	.user-main .nav-pills a i,
	.user-main .nav-pills a:hover i {
		color: rgb(240, 240, 240);
	}

	/* Links on the left (in Activities, Notifications, and Messages) */

	.user-main .nav-stacked > li > a {
		color: #878787 !important;
	}

	.user-main .nav-stacked > li > a.active {
		color: rgb(240,240,240) !important;
	}

	/* Account info (collapsed) */

	.user-main .about.collapsed-info .details {
		background: none repeat scroll 0% 0% rgba(56, 56, 56, 0.85);
		border-bottom: 1px solid rgb(45, 45, 45);
	}

	.user-main .about.collapsed-info .controls ul a.btn {
		color: rgb(230, 230, 230);
	}

	.user-main .about.collapsed-info .controls ul a.btn.btn-primary {
		background-color: rgb(3, 95, 29);
	}

	.user-main .about.collapsed-info .controls ul a.btn.btn-primary:hover {
		background-color: rgb(4, 129, 39);
	}

	/* Account info (after clicking on Expand) */

	.user-main .about .secondary {
		border-bottom: 1px solid rgb(84, 84, 84);
		border-top: 1px solid rgb(84, 84, 84);
	}

	.user-main .about .secondary dl {
		background-color: rgb(41, 41, 41);
	}

	.user-main .about .secondary dl dd,
	span.relative-date {
		color: rgb(225, 225, 225);
	}

	.user-main .about .details {
		background: none repeat scroll 0% 0% rgba(56, 56, 56, 0.85);
	}

	.groups .group-link {
		color: rgb(50, 192, 92);
	}

	.user-main .about .controls a.btn.btn-primary {
		background-color: rgb(3, 95, 29);
	}

	.user-main .about .controls a.btn.btn-primary:hover {
		background-color: rgb(4, 129, 39);
	}

	/* Badges */

	.badge-card .badge-contents {
		background-color: rgb(41, 41, 41);
	}

	.badge-card .badge-contents .badge-info h3 {
		color: rgb(242, 242, 242);
	}

	.badge-card .badge-contents .badge-info {
		color: rgb(230, 230, 230);
	}

	.badge-card .badge-contents .badge-icon {
		background-color: rgb(45, 45, 45);
	}

	.user-main .user-content {
		border: none;
	}

	/* Private messages */

	.topic-map .avatars, .topic-map .links, .topic-map .information {
		background-color: rgb(70, 70, 70);
	}

	/* About me */

	.d-editor-textarea-wrapper, .user-preferences .bio-composer .d-editor-preview, .edit-category-tab-topic-template .d-editor-preview {
		background-color: rgb(65, 65, 65);
	}

	.user-preferences .bio-composer, .user-preferences .bio-composer .d-editor-textarea-wrapper, .edit-category-tab-topic-template .d-editor-textarea-wrapper {
		border-color: rgb(35, 35, 35);
	}

	.d-editor-button-bar {
		border-color: rgb(45, 45, 45);
	}

	.d-editor-spacer {
		background-color: rgb(45, 45, 45);
	}

	/* Profile and user card backgrounds */

	.uploaded-image-preview {
		background: rgb(65, 65, 65) center;
		background-size: cover;
	}

	.btn-danger {
		background-color: #c63c1b !important;
	}

	.btn-danger:hover, .btn-danger.btn-hover {
		background-color: rgb(164, 48, 21) !important;
	}

	/* Muted users */

	div.ac-wrap {
		background-color: rgb(65, 65, 65);
		border-color: rgb(35, 35, 35);
	}

	div.ac-wrap input[type="text"] {
		/* border-color: rgb(55, 55, 55); */
		border: none !important;
	}

	div.ac-wrap div.item a.remove, .remove-link {
		border-color: rgb(35, 35, 35);
		border-color: rgba(35, 35, 35, 0.5);
	}

	div.ac-wrap div.item a.remove:hover, .remove-link:hover {
		background-color: rgb(79, 44, 27);
		border-color: #873e2d;
		color: rgb(146, 54, 33);
	}

	.autocomplete ul li a span.username {
		color: rgb(240, 240, 240);
	}

	/* ===== Account preferences: mobile ===== */

	/* Navigation drop down menus */

	.mobile-view .mobile-nav a {
		color: rgb(240, 240, 240);
		background-color: rgb(45, 45, 45) !important;
	}

	.mobile-view .mobile-nav .drop.expanded {
		background-color: rgb(45, 45, 45) !important;
		border-color: rgb(74, 74, 74);
	}
}
